@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);

  --color-slate-50: #F1F5F9;
  --color-slate-300: #CBD5E1;
  --color-slate-900: #0F172A;

  --color-blue-500: #3B82F6;
  --color-blue-700: #1D4ED8;
}

/* Custom Utilities */
@layer utilities {
  .glass {
    @apply bg-white/80 backdrop-blur-md border-b border-slate-200;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-slate-900 to-slate-600;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-900 font-sans;
}